<!--  app/views/movies/search.html.erb -->
<h2>Similar movies to #{@movie.title}</h2>

<ul>
  <% @similar_movies.each do |movie| %>
  <li>
      <%= movie %>
  </li>
  <% end %>
</ul>

<%= link_to 'Back to movie list', movies_path, :class => 'btn btn-primary' %>
